<md-toolbar ng-controller="FilterController" class="md-primary" ng-cloak layout="row" layout-align='center center'>
    <md-input-container >
        <label>Nom</label>
        <input name="name" maxlength="50" ng-model="filter_name"/>
        <div class="hint ng-scope">Rechercher dans le nom de la randonnée</div>
    </md-input-container>
        
    <md-input-container>
        <label>Massif</label>
        <md-select ng-model="filter_massif">
            <md-option><em>Tous</em></md-option>
            <md-option ng-repeat="massif in massifs" ng-value="massif">
                {{massif.name}}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <label>Cotation</label>
        <md-select ng-model="filter_cotation">
            <md-option><em>Toutes</em></md-option>
            <md-option ng-repeat="cotation in cotations" ng-value="cotation">
                {{ cotation.label }}
            </md-option>
        </md-select>
    </md-input-container>

    <md-input-container>
        <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Dénivelé</span>
        </div>
        <md-slider class="md-primary" md-discrete ng-model="filter_denivele" step="100" min="300" max="2000" aria-label="rating">
        </md-slider>
    </md-input-container>

    <md-input-container>
        <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Durée</span>
        </div>
        <md-slider class="md-primary" flex md-discrete ng-model="filter_duration" step="10" min="30" max="240" aria-label="rating">
        </md-slider>
    </md-input-container>
</md-toolbar>

<md-list flex ng-show="$ctrl.randos">
    
    <md-list-item class="md-3-line" ng-repeat="rando in $ctrl.randos | filter: $ctrl.applyFilters" ng-href="/#!/{{rando.id}}">
        <div class="chips" layout="column">
            <md-button class="md-fab md-button-massif {{ rando.massif.name | lowercase }}">
                    <md-tooltip md-direction="bottom">{{rando.massif.name}}</md-tooltip>
                </md-button>
            <md-button class="md-fab md-button-cotation {{ rando.cotation.label }}">{{ rando.cotation.label }}
                <md-tooltip md-direction="bottom">{{rando.cotation.short_description}}</md-tooltip>
            </md-button>
        </div>
        <div class="md-list-item-text" layout="column">
            <h3>{{ rando.name }}</h3>
            <h4>Massif : {{ rando.massif.name }}</h4>
            <p>Denivelé : + {{ rando.denivele }} mètres</p>
            <p>Durée : {{ rando.total_duration | timeformat:'mm':'hh heures mm minutes' }}
                <md-tooltip md-direction="bottom">
                    Montée : {{rando.climb_duration| timeformat:'mm':'hh heures mm minutes' }}<br/>
                    Descente : {{rando.descent_duration| timeformat:'mm':'hh heures mm minutes' }}
                </md-tooltip>
            </p>
        </div>
    </md-list-item>
</md-list>

<md-list flex ng-hide="$ctrl.randos" class="animated-background">
    <md-list-item class="md-3-line">
        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{rando.who}}" />
        <div class="md-list-item-text" layout="column">
            <h3>{{ rando.nom }}</h3>
        </div>
    </md-list-item>
</md-list>