@keyframes placeHolderShimmer{
    0%{
        background-position: -1808px 0
    }
    100%{
        background-position: 1808px 0
    }
}

@keyframes cloudCrossing{
    0%{
        color:darkgrey;
        left: 0px;
        opacity:0;
    }
    30%{
        color:lightgrey;
        left:40px;
        opacity:1;
    }
    80%{
        color:whitesmoke;
        left:60px;
        opacity:0.7;
    }
    100%{
        left:70px;
        opacity:0.8;
    }
}

div[ng-controller="FilterController"]{
    text-align: center;
    background-color: #03a9f4;
}

md-input-container.md-input-focused label:not(.md-no-float){
    color:whitesmoke;
}

div[ng-controller="FilterController"] md-slider.md-default-theme.md-min[md-discrete] .md-thumb:after, 
div[ng-controller="FilterController"] md-slider.md-min[md-discrete] .md-thumb:after,
div[ng-controller="FilterController"] md-slider.md-default-theme.md-primary .md-thumb:after, 
div[ng-controller="FilterController"] md-slider.md-primary .md-thumb:after{
    background-color:whitesmoke;
}
div[ng-controller="FilterController"] md-slider.md-primary .md-sign
{
    background-color:rgb(22, 93, 207);
}
div[ng-controller="FilterController"] md-slider.md-primary .md-sign:after{
    border-top-color:rgb(22, 93, 207);
}
div[ng-controller="FilterController"] md-slider .md-sign .md-thumb-text{
    color:whitesmoke;
    font-size:10px;
}

div[ng-controller="FilterController"] md-slider.md-primary .md-track.md-track-fill{
    background:whitesmoke;
}

div[ng-controller="NavController"] md-content h1{
    display:inline;
}

.animated-background {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 100% 96px;
    height: 96px;
    position: relative;
}

div.clouds{
    float:left;
}
div.clouds i{
    position:absolute;
    color: #adadad;
    font-size: 19px;
}

.cloud{
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: cloudCrossing;
    animation-timing-function: linear;
}
.cloud.cloud1{
    animation-duration: 7s;
}
.cloud.cloud2{
    animation-duration: 8s;
}

.hint{
    position: absolute;
    left: 2px;
    right: auto;
    bottom: -7px;
    font-size: 12px;
    line-height: 0px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    color: whitesmoke;
}

md-input-container label:not(.md-no-float):not(.md-container-ignore){
    text-align:left;
}

md-input-container input.md-input[ng-model="filter_name"]{
    width:250px;
    text-align:left;
}

md-slider[ng-model="filter_duration"] .md-slider-wrapper{
    width:350px;
}

md-slider[ng-model="filter_denivele"] .md-slider-wrapper{
    width:350px;
}

md-list-item .chips{
    margin-right:1em;
}

button.md-fab.md-button-cotation, button.md-fab.md-button-massif{
    width:40px;
    height:40px;
    line-height: 40px;
}
button.md-fab.md-button-cotation.T1{
    background-color: rgb(143, 184, 250);
}
button.md-fab.md-button-cotation.T2{
    background-color: rgb(68,138,255);
}
button.md-fab.md-button-cotation.T3{
    background-color: rgb(22, 93, 207);
}
button.md-fab.md-button-massif{
    background-color:whitesmoke;
    background-size: 31px;
    background-position-x: 5px;
    background-repeat: no-repeat;
}
button.md-fab.md-button-massif.bauges{
    background-image: url(../images/bauges.svg);
}
button.md-fab.md-button-massif.chartreuse{
    background-image: url(../images/chartreuse.png);
    background-position-x: 4px;
}
button.md-fab.md-button-massif.aravis{
    background-image: url(../images/aravis.png);
    background-size: 170px;
    background-position: -72px 7px;
}
button.md-fab.md-button-massif.belledone{
    background-image: url(../images/belledone.png);
    background-size: 60px;
    background-position: -10px 4px;
}
button.md-fab.md-button-massif.maurienne{
    background-image: url(../images/maurienne.png);
}
button.md-fab.md-button-massif.tarentaise{
    background-image: url(../images/tarentaise.png);
    background-position: 2px 9px;
    background-size: 37px;
}
button.md-fab.md-button-massif:not([disabled]):hover{
    background-color:rgb(0, 147, 111);
}
button.md-fab.md-button-massif.aravis:not([disabled]):hover{
    background-color:rgb(0, 89, 65);
}
button.md-fab.md-button-massif.belledone:not([disabled]):hover{
    background-color:rgb(146, 191, 31);
}
button.md-fab.md-button-massif.tarentaise:not([disabled]):hover{
    background-color:white;
}


.md-toolbar-tools.duration .duration_detail{
    margin-top:0.8em;
    font-size:0.8em;
}
.md-toolbar-tools.duration .duration_detail i{
    font-size:20px;
    margin-right:0.3em;
}
.md-toolbar-tools.duration .duration_detail div:first-child{
    margin-right:0.7em;
}