<md-toolbar layout="row" layout-align="left center" id="popupContainer">
    <h2><md-button class="md-icon-button" ng-click="$ctrl.returnToList()" aria-label="Retour">
            <i class="material-icons">&#xE5C4;</i>
        </md-button>
    </h2>
    <h1 class="md-toolbar-tools">{{ $ctrl.rando.name }}</h1>
    <h1 class="md-toolbar-tools"><i class="material-icons">&#xE6E1;</i>&nbsp;{{ $ctrl.rando.denivele }} mètres</h1>
    <h1 class="md-toolbar-tools duration" layout="column" layout-align="center center">
        <div layout="row">
            <i class="material-icons">&#xE425;</i>
            <span>&nbsp;{{ $ctrl.rando.total_duration| timeformat:'mm':'hh heures mm minutes' }}</span>
        </div>
        <div layout="row" class="duration_detail">
            <div layout="row" layout="left center">
                <i class="material-icons">&#xE8E5;</i>
                <span>&nbsp;{{ $ctrl.rando.climb_duration| timeformat:'mm':'hh heures mm minutes' }}</span>
            </div>
            <div layout="row" layout="left center">
                <i class="material-icons">&#xE8E3;</i>
                <span>&nbsp;{{ $ctrl.rando.descent_duration| timeformat:'mm':'hh heures mm minutes' }}</span>
            </div>
        </div>
    </h1>
    <div class="md-toolbar-tools" layout="column" layout="center center" style="font-size:0.8em">
        <div>
            <div layout="row" layout-align="center center">
                <i class="material-icons sun">&#xE430;</i>&nbsp;
                <span>{{ $ctrl.rando.weather.city }} :&nbsp;</span>
                <span>{{ $ctrl.rando.weather.description }}</span>
            </div>
            <div layout="row" layout-align="center center" style="margin-top:0.5em">
                    <div layout="row" layout-align="left center"><i class="material-icons">&#xE8D6;</i>&nbsp;{{ $ctrl.rando.weather.temperature }}°&nbsp;</div>
                    <div layout="row" layout-align="left center"><i class="material-icons">&#xE91C;</i>&nbsp;{{ $ctrl.rando.weather.humidity }}%&nbsp;</div>
                    <div layout="row" layout-align="left center"><i class="material-icons">&#xE332;</i>&nbsp;{{ $ctrl.rando.weather.wind.speed }}km/h&nbsp;</div>
                    <div layout="row" layout-align="left center" ng-show="$ctrl.rando.weather.wind.deg">{{ $ctrl.rando.weather.wind.deg }}°</div>
            </div>
        </div>
    </div>
</md-toolbar>
<md-content layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="70" layout="column" layout-padding>
        <div layout="row">
            <img class="image-blur" src="https://www.legrandbornand.com/medias/images/prestations/105815-lac_de_peyre.jpg" data-large="https://www.legrandbornand.com/medias/images/prestations/105815-lac_de_peyre.jpg" style="width:50%; height:50%"/>
            <ng-map flex-xs flex-gt-xs="50" center="{{$ctrl.rando.gps[0]}},{{$ctrl.rando.gps[1]}}" zoom="13"></ng-map>
        </div>
    </div>

    <div flex-xs flex-gt-xs="30" layout="column">
        <md-card md-theme-watch>
            <md-card-title>
                <md-card-title-text layout="row" layout-align="left center">
                    <md-button class="md-icon-button md-raised" layout-align="center center"><i class="material-icons">&#xE14F;</i></md-button>
                    <span class="md-headline">&nbsp;Mes passages</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p ng-hide="$ctrl.rando.passages.length">Aucun passage enregistré</p>
                <md-list class="rando_passages" ng-show="$ctrl.rando.passages.length">
                    <md-list-item class="md-3-line" ng-repeat="passage in $ctrl.rando.passages" ng-click="$ctrl.showPrompt($ctrl.rando, passage);">
                        <div class="md-list-item-text" layout="column">
                            <div layout="row" layout-align="left center">
                            <h3 layout="row" layout-align="left center">
                                <span>{{passage.date | date:"d/MM/yyyy" }}</span>&nbsp;&nbsp;
                                <div layout="row" layout-align="left center">
                                    <i class="material-icons">&#xE425;</i>&nbsp;
                                    <span>{{passage.duration | timeformat:"mm":"hh h mm m"}}</span>
                                </div>
                            </h3>
                            <h4 style="margin-left:1em; font-weight:bold" layout="row" layout-align="left center">
                                <div layout="row" layout-align="left center" style="color:#bb5050;" class="passage_ratings">
                                    <i class="material-icons">&#xEB43;</i>&nbsp;
                                    <span>{{passage.difficulty}} / 5</span>
                                </div>&nbsp;
                                <div layout="row" layout-align="left center" style="color:#00936f" class="passage_ratings"><i class="material-icons" >&#xE91D;</i>&nbsp;<span>{{passage.animal_density}} / 5</span></div>&nbsp;
                                <div layout="row" layout-align="left center" style="color:#448aff" class="passage_ratings"><i class="material-icons">&#xE3F7;</i>&nbsp;<span>{{passage.landscape_beauty}} / 5</span></div>
                            </h4>         
                            <md-button class="md-icon-button md-raised md-warn"  ng-click="$ctrl.removePassageFromRando($ctrl.rando.id, passage);">
                                    <i class="material-icons">&#xE14C;</i>           
                            </md-button>        
                            
                        </div>
                        <p>{{passage.comments}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-content layout="row" layout-align="end">
                <md-button class="md-icon-button md-raised md-primary" ng-click="$ctrl.showPrompt()"><i class="material-icons">&#xE145;</i></md-button>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch>
            <md-card-title >
                <md-card-title-text layout="row" layout-align="left center">
                    <md-button class="md-fab md-button-cotation {{ $ctrl.rando.cotation.label }}">{{ $ctrl.rando.cotation.label }}</md-button>
                    <span class="md-headline">&nbsp;{{ $ctrl.rando.cotation.short_description }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{ $ctrl.rando.cotation.long_description }}</p>
            </md-card-content>
            <md-card-content layout="row" layout-align="end">
                <md-button class="md-icon-button" style="color:#989898">
                    <i class="material-icons">&#xE5D3;</i>
                    <md-tooltip>Afficher les randonnées de cette difficulté</md-tooltip>
                </md-button>
            </md-card-content>
        </md-card>
        <md-card md-theme-watch>
            <md-card-title >
                <md-card-title-text layout="row" layout-align="left center">
                    <md-button class="md-fab md-button-massif {{ $ctrl.rando.massif.name | lowercase }}"></md-button>
                    <span class="md-headline">&nbsp;{{ $ctrl.rando.massif.name }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>{{ $ctrl.rando.massif.description }}</p>
            </md-card-content>
            <md-card-content layout="row" layout-align="end">
                <md-button class="md-icon-button" style="color:#989898">
                    <i class="material-icons">&#xE5D3;</i>
                    <md-tooltip>Afficher les randonnées de ce massif</md-tooltip>
                </md-button>
            </md-card-content>
        </md-card>
    </div>
</md-content>